{% extends "home/base.html" %}
    {% block head_title %}{{ work.title }}{% endblock %}
	{% block meta_head %}
	<meta name="description" content="Работы наших врачей: {{work.title}}"/>
	<meta name="keywords" content="протезирование, имплантация, отбеливание, пародонтит, периодонтит, коронки, виниры, стоматология, имплантология, парадонтология, гнатология, ортопедия, ортодонтия, косметология"/>
	<meta property="og:url" content="http://ds.riberastudio.com/works/{{work.link}}/" />
	<meta property="og:title" content="Работы врачей Дент Студио: {{work.title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://ds.riberastudio.com/static/images/opengraph.jpg" />
	<meta property="og:description" content="{{work.description}}">
{% endblock %}
	{% block content %} 
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3&appId=1638231183059375";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     <div class="h1_level"><h1>{{ work.title }}</h1> </div><br>
	 
	 {% for image in images %} 
	 <div class="work">{{image.title}}. {{image.desc}}</div><img class="works_big_img" src="/media/{{image.image}}" alt="{{image.title}}"><br><br>
	 {% endfor %}
	 
	 <div class="work_resume">{% autoescape off %}{{work.resume}}{% endautoescape %}</div>
	 
<br><br>
<div class="btn-group" role="group" aria-label="/home/">
  <button onclick="window.open('/works/', '_self')" id="back" type="button" class="btn btn-default">  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Назад</button>
</div>
<br/><br/>
<div class="fb-like" data-href="/works/{{work.link}}" data-width="600" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>

<br/><br/><br/><br/><br/>

<footer1_pro>
<center>
Стоматологическая клиинка ДЕНТ СТУДИО: лицензия номер 77-01-001089 &nbsp;&nbsp; <div class="fb-follow" data-href="https://www.facebook.com/dentstudio.ru" data-colorscheme="light" data-layout="button" data-show-faces="true"> </div> 
<br>
<a class="afooter" href="/services/">Стоматология</a> | <a class="afooter"  href="/services#implantacia">Имплантология</a> | <a class="afooter"  href="/services#parodontologia">Пародонтология</a> | <a class="afooter"  href="/services#gnatologia">Гнатология</a> | <a class="afooter"  href="/services#ortopedia">Ортопедия</a> | <a class="afooter"  href="/services#ortodontia">Ортодонтия</a> | <a  class="afooter" href="/services#cosmetologia">Косметология</a>
<br>
Наш адрес: Москва, улица Марксистская, дом 20, строение 1 &nbsp;&nbsp;|&nbsp;&nbsp;Наши телефоны: (495) 3633841 (495) 3633851  </center>
</footer1_pro>
   
      </div>
{% endblock %}