{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<h1>{% trans "Account Inactive" %}</h1>

<p>{% trans "This account is inactive." %}</p>

<div>
      <ul>
	  <br/><br/><br/>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Поменять адрес электронной почты</a></li>
	<li><a href="{% url 'account_logout' %}">Выйти из аккаунта</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Войти в аккаунт</a></li>
	<li><a href="{% url 'account_signup' %}">Зарегистрироваться</a></li>
	{% endif %}
      </ul>
    </div>
	
{% endblock %}
