{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
	
	<div>
      <ul>
	  <br/><br/><br/>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Поменять адрес электронной почты</a></li>
	<li><a href="{% url 'account_logout' %}">Выйти из аккаунта</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Войти в аккаунт</a></li>
	<li><a href="{% url 'account_signup' %}">Зарегистрироваться</a></li>
	{% endif %}
      </ul>
    </div>
{% endblock %}
