{% extends "home/base.html" %}
{% block meta_head %}
	<meta name="description" content="Клиника Дент Студио: цены на наши стоматологические и косметологические услуги. Имплантология - установка дентальных имплантатов; ортопедия - протезирование коронками, винирами; ортодонтия - исправление прикуса любой степени сложности; терапия - лечение кариеса; парадонтология - лечение заболеваний десен; гнатология - функциональный анализ зубо-челюстной системы; профгигиена полости рта; косметология. "/>
	<meta name="keywords" content="протезирование, имплантация, отбеливание, пародонтит, периодонтит, коронки, виниры, стоматология, имплантология, парадонтология, гнатология, ортопедия, ортодонтия, косметология"/>
	<meta property="og:url" content="http://ds.riberastudio.com/prices/" />
	<meta property="og:title" content="Дент Студио: наши цены." />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://ds.riberastudio.com/static/images/opengraph.jpg" />
	<meta property="og:description" content="Лечение кариеса и заболеваний десен, протезирование коронками, имплантами и винирами, эстетическая реставрация зубов, имплантация в сложных случаях, отбеливание, функциональный анализ и другие стоматологические, а также косметологические услуги.">
{% endblock %}
    {% block head_title %}Цены{% endblock %}
	{% block content %} 
     <h1>Цены</h1> 
	 <br/>
	 
<center><hr/><h5>Ориентировочная стоимость: </h5><hr/></center>
 <!--<img src="http://ds.riberastudio.com/static/images/opengraph.jpg">-->
 <br/>	 	 	 
 	 	  <div class="row">
        <div class="col-md-6_secondlevel prices"><strong> Лечение одноканального зубу (постановка пломбы с удалением нерва), 2 посещения:</strong><br/><br/> Рентгеновские снимки, анестезия, постановка коффердама, простая распломбировка, подготовка канала к пломбированию, временное лечебное пломбирование, пломбирование гутта-перчей или термафилом, временная пломба.	 	 <br/><br/>
<strong>ИТОГО	 	4770	руб.</strong><br/><br/></div>
   
    <div class="col-md-6_secondlevel prices"><strong> Лечение сложного корневого канала зуба:</strong> <br/><br/><br/>Рентгеновские снимки, анестезия, постановка коффердама, простая распломбировка, подготовка сложного канала к пломбированию, временное лечебное пломбирование, пломбирование жидкотекучей гутта-перчей или термафилом, временная пломба.	 	 <br/><br/>
<strong>ИТОГО	 	6950	руб.</strong><br/><br/></div>
		
        <div class="col-md-6_secondlevel prices"><strong> Постановка коронки на имплантате:</strong> <br/><br/><br/>Металлокерамическая коронка категории В	23446	руб, аналог имплантата	1800	руб., абатмент прямой эстетический 5800 руб.<br/>	<br/>
 	 	 	 
<strong>ИТОГО	 	31046	руб.</strong>
	</div>
	
	        <div class="col-md-6_secondlevel prices"><strong>Имплантация (имплантат плюс коронка):</strong><br/><br/><br/> Имплантация	25000	руб., анестезия (2 раза) 800 руб., формирователь десны	2972 руб., металлокерамическая коронка категории В	23446 руб.<br/><br/>
 	 	 	 
<strong>ИТОГО	 	52218	руб.</strong><br/>	
	</div>

      </div> 	 
 	 	<hr/> 	  	 	 
 	<center><h5>НАШИ ЦЕНЫ<br/><hr/> 	<br/>Код		Наименование услуги			Цена услуги<br/><br/>		
Терапевтическая Стоматология	<br/><br/>			 	 
 	Лечение кариеса	 	 <br/><br/>	</h5></center>
*0201	Постановка пломбы из композита химического отверждения	1050	руб.<br/>	<br/>	
*0202	Светоотверждаемая пломба (1 поверхность)	2750	руб.<br/>	<br/>
*0216	Светоотверждаемая пломба (2 поверхности)	3300	руб.<br/>	<br/>
*0203	Восстановление зуба (до 1/2 объема коронковой части) светоотв. композитом	4200	руб.<br/>	<br/>
*0204	Восстановление зуба (более 1/2 объема коронковой части) светоотв. композитом	5300	руб.<br/>	<br/>
*0213	Эстетическая (анатомическая) реставрация зуба	8900	руб.<br/>	<br/>
*0214	Коррекция старой пломбы светоотверждаемым композитом	1300	руб.<br/><br/>	
*0205	Восстановление культи зуба для протезирования (светоотв. композит)	2500	руб.<br/>	<br/>
*0206	Штифт внутрикорневой (анкер) -1 единица	1600	руб.<br/>	<br/>
*0207	Лечебная прокладка (при глубоком кариесе)	260	руб.<br/>	<br/>
*0210	Временная пломба	260	руб.<br/>	<br/>
*0212	Временная пломба светоотв. композитом	500	руб.<br/>	<br/>
*0208	Удаление старой пломбы	260	руб.<br/>	<br/>
*0209	Пришлифовка и полировка старой пломбы	300	руб.<br/>	<br/>
*0215	Шлифовка и полировка эмали	400	руб.<br/>	<br/><br/>
 	<center><h5>Лечение пульпита и периодонтита	</h5> 	 <br/><br/></center>
*0311	Подготовка  сложного корневого канала к пломбированию	3850	руб.<br/><br/>
*0119	Подготовка простого корневого канала к пломбированию	2000	руб.<br/><br/>
*0301	Пломбирование корневого канала гуттаперчей (1 канал)	1100	руб.<br/><br/>
*0308	Пломбирование корневого канала термофилом (1 канал)	1980	руб.<br/><br/>
*0312	Пломбирование корневого канала жидкотекучей гуттаперчей (1 канал)	3700	руб.<br/><br/>
*0419	Лечение простого корневого канала	4770	руб.<br/><br/>
*0430	Лечение сложного корневого канала	6950	руб.<br/><br/>
*0303	Временное лечебное пломбирование корневого канала	650	руб.<br/><br/>
*0304	Распломбирование корневого канала	1990	руб.<br/><br/>
*0302	Лечение периодонтита (один канал каждое посещение)	560	руб.<br/><br/>
*0305	Извлечение инородного тела из корневого канала	1400	руб.<br/><br/>
*0309	Закрытие перфорации корневой части зуба	1200	руб.<br/><br/>
*0310	Депофорез (1 корневой канал 1 посещение)	1300	руб.<br/><br/>
*0306	Наложение мышьяковистой пасты	300	руб.<br/><br/>
*0307	Диатермокоагуляция	800	руб.<br/><br/>
*0112	Постановка коффердама	660	руб.<br/>	<br/><br/>
 	<center><h5>Ортодонтия	</h5> 	 <br/><br/> </center>	 
*9002	Осмотр и консультация ортодонта первичная (засчитывается в стоимость дальнейшего лечения)	1000	руб.<br/><br/>
*1507	Анализ ортодонтического статуса и планирование лечения	1500	руб.<br/><br/>
*1512	Обучение гигиене полости рта и уходу за аппаратом	486	руб.<br/><br/>
*1569	Альгинатный слепок,гипсовая модель(однослойная)	480	руб.<br/><br/>
*1516	Расчет контрольно-диагностических моделей челюстей	1472	руб.<br/><br/>
*1517	Фиксация одного брекета	1700	руб.<br/><br/>
*1518	Фиксация сепарационного кольца	216	руб.<br/><br/>
*1519	Припасовка бандажного кольца	547	руб.<br/><br/>
*1520	Фиксация бандажного кольца	1450	руб.<br/><br/>
*1521	Снятие бандажного кольца	509	руб.<br/><br/>
*1522	Повторная фиксация отклеившегося брекета	2000	руб.<br/><br/>
*1523	 Гигиеническая обработка 1 зуба с брекетом	105	руб.<br/><br/>
*1524	Наложение лигатуры Lace-back	780	руб.<br/><br/>
*1525	Фиксация металлической лигатуры 	216	руб.<br/><br/>
*1526	Фиксация эластичной лигатуры 	90	руб.<br/><br/>
*1527	Фиксация лигатуры  с покрытием (тефлон)	266	руб.<br/><br/>
 *1533-11	Снятие одной лигатуры	20	руб.<br/><br/>
*1528	Наложение одного звена эластичной цепочки	120	руб.<br/><br/>
*1530	Установка раскрывающей пружины	863	руб.<br/><br/>
*1531	Установка закрывающей пружины	730	руб.<br/><br/>
*1532	Установка соединения ТАЙ-БЭК	643	руб.
 
<br/><br/><br/><br/><br/>

<footer1_pro>
<center>
Стоматологическая клиинка ДЕНТ СТУДИО: лицензия номер 77-01-001089 &nbsp;&nbsp; <div class="fb-follow" data-href="https://www.facebook.com/dentstudio.ru" data-colorscheme="light" data-layout="button" data-show-faces="true"> </div> 
<br>
<a class="afooter" href="/services/">Стоматология</a> | <a class="afooter"  href="/services#implantacia">Имплантология</a> | <a class="afooter"  href="/services#parodontologia">Пародонтология</a> | <a class="afooter"  href="/services#gnatologia">Гнатология</a> | <a class="afooter"  href="/services#ortopedia">Ортопедия</a> | <a class="afooter"  href="/services#ortodontia">Ортодонтия</a> | <a  class="afooter" href="/services#cosmetologia">Косметология</a>
<br>
Наш адрес: Москва, улица Марксистская, дом 20, строение 1 &nbsp;&nbsp;|&nbsp;&nbsp;Наши телефоны: (495) 3633841 (495) 9121111  </center>
</footer1_pro>
   
      </div>
	  
{% endblock %}	
		