{% extends "staff/base.html" %}
    {% block head_title %}Долженкова Ольга Викторовна{% endblock %}
	{% block content %} 
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.3&appId=1638231183059375";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     <h1>Долженкова Ольга Викторовна</h1> <br>
<img id="news_image_small" src="/media/images/female.jpg"> Окончила Московский Медицинский Стоматологический Институт по специальности "Стоматология" в 1992 году<br><br>

Прошла стажировку в Московском Медицинском Стоматологическом Институте им. Семашко по лечению с использованиям брекет-систем в 1993 году.<br><br>

Проходила повышение квалификации на Факультете усовершенствования врачей-стоматологов по специальности "Ортодонтия" в 1993 году.<br><br>

<br>Прошла обучение в  Московском Медицинском Стоматологическом Институте им. Семашко по теме "Современные методы диагностики зубо-челюстных аномалий и показания к применению брекет-системы" в 1994 году.<br><br>

Приняла участие в семинаре в  Московском Медицинском Стоматологическом Институте им. Семашко по теме "Ранняя диагностика зубо-челюстных аномалий" в 1996 году.<br><br>

Присвоена высшая квалификационная категория в 2002 году.<br><br>

Прошла повышение квалификации в Российской Медицинской Академии Последипломного Образования МЗРФ по специальности "Ортодонтия" в 2004 году<br><br>

Сдала квалификационный экзамен по специальности "Ортодонтия" в 2004 году.<br><br>

Прошла обучение по программе "Коррекция 2-го класса с применением аппарата Форсус"  в сентябре 2009 года<br><br>

Окончила специализированный курс "Пассивное самолигирование в ортодонтии XXI века" в октябре 2009 года. Санкт-Петербург.<br><br>
 
<br><br>

<div class="btn-group" role="group" aria-label="/home/">
  <button onclick="window.open('/people/', '_self')" id="back" type="button" class="btn btn-default">  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Назад</button>
</div>

<div class="fb-like" data-href="http://localhost:8000/news/" data-width="600" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>

<br/><br/><br/>

<footer1>
Стоматологическая клиника ДЕНТ СТУДИО: Москва, ул.Марксистская, д.20, стр.1 (495) 3633841 (495) 3633851
</footer1>
   
      </div>
{% endblock %}