{% extends "staff/base.html" %}
    {% block head_title %}Иванюк Андрей Вячеславович{% endblock %}
	{% block content %} 
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.3&appId=1638231183059375";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     <h1>Иванюк Андрей Вячеславович</h1> <br>
<img id="news_image_small" src="/media/images/male.jpg"> C 2011 года по приглашению профессора Рудольфа Славичека является участником Международного Научного Клуба.<br><br>
Окончил Московский медицинский стоматологический институт по специальности "стоматология" в 1993 году.<br><br>

Прошел курсы повышения квалификации на Факультете усовершенствования врачей-стоматологов по программе "Ортопедическая стоматология" в 1999 году.<br><br>

Прошел курсы повышения квалификации на Факультете усовершенствования врачей-стоматологов по программе "Ортопедическое лечение больных с использованием цельнолитых металлопластмассовых, металлокерамических протезов" в 1999 году.<br><br>

Сдан квалификационный экзамен на Факультете усовершенствования врачей-стоматологов МЗ РФ на присвоение специальности "Стоматология ортопедическая" в 1999 году.<br><br>

Окончил курс "Использование ортопедических методик при протезировании на имплантатах" в московском представительстве "Straumann" в 2003 году.<br><br>

Принял участие в Конгрессе по эстетической стоматологии 24-26 июля 2004 года в Стамбуле.<br><br>

Прошел обучающий курс "Концепция, Показания и Работа с Использованием Дентальных Имплантатов "XiVE" в г. Опенхейм, Германия в 2005 году.<br><br>

Принял участие в V конгрессе Национальной Академии Эстетической Стоматологии в 2005 году.<br><br>

Принял участие в симпозиуме Европейской Стоматологической Ассоциации  "Эстетика в протезировании 2006" 5-6 мая 2006 года в Германии.  <br><br>

Принял участие в университетском курсе "Функция и дисфункция жевательного аппарата, основы окклюзии и артикуляции" под руководством профессора Славичека в государственном университете Krems в Австрии14-19 августа 2006 года<br><br>

Принял участие в международном симпозиуме стоматологов "Квинтэссенция" 20-22 октября 2006 года в Москве.<br><br>

Принял участие в семинаре профессора Рудольфа Славичека "Функции и дисфункции жевательного аппарата с основами окклюзии и артикуляции" 11-16 июня 2007 года в г Вена. <br><br>

Принял участие в международном симпозиуме стоматологов "Квинтэссенция" 13-14 октября 2007 года в Москве.<br><br>

Принял участие в Первом Международном симпозиуме по нейромышечной стоматологии 30-31 мая 2009 года.<br><br>

Прошел заочное обучение в Университете постдипломного образования г. Кремс (Австрия) на кафедре стоматологии под руководством профессора Рудольфа Славичека с 2006 по 2009 годы.<br><br>

Принял участие в научном конгрессе международного симпозиума "Квинтэссенция" 12-13 июня 2010 года в Москве.<br><br>

Присвоена международная научная степень "Master of Sciences" (Dental Science) после успешной защиты научной работы на кафедре профессора Рудольфа Славичека в Дунайском Университете города Кремс (Австрия). Ноябрь 2010 года. <br><br>

 
<br><br>

<div class="btn-group" role="group" aria-label="/home/">
  <button onclick="window.open('/people/', '_self')" id="back" type="button" class="btn btn-default">  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Назад</button>
</div>

<div class="fb-like" data-href="http://localhost:8000/news/" data-width="600" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>

<br/><br/><br/>

<footer1>
Стоматологическая клиника ДЕНТ СТУДИО: Москва, ул.Марксистская, д.20, стр.1 (495) 3633841 (495) 3633851
</footer1>
   
      </div>
{% endblock %}