<!DOCTYPE html>

{% load staticfiles %}

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Клиника Дент Студио: запись на приём"/>
	<meta name="keywords" content="стоматология, имплантология, парадонтология, гнатология, ортопедия, ортодонтия, косметология"/>
    <meta name="author" content="Ribera Digital Studio">
	<meta property="og:url" content="http://ds.riberastudio.com/appointment/" />
	<meta property="og:title" content="Дент Студио: запись на приём онлайн" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://ds.riberastudio.com/static/images/opengraph.jpg" />
	<meta property="og:description" content="Вы можете записаться на приём онлайн: заполните форму, после чего наш администратор свяжется с вами для подтверждения записи.">
	
    <link rel="icon" href="http://sicilia-nostra.it/img/2015/favicon.ico">

    <title>Предварительная запись на приём</title>
	
	<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/animations.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=11">
	
  </head>

   <body>
    <div id="background">
	<img id="not-for-md-img" src="{{ STATIC_URL }}images/background_second_level.jpg"" alt="" />
	</div>
	<div id="not-for-md" class="nav_inside" role="navigation">
						
							<ul class="nav pull-right-inside">
								<li>
									<a href="/home/">ГЛАВНАЯ СТРАНИЦА</a>
								</li>
								<li>
									<a href="/appointment/">ЗАПИСЬ НА ПРИЁМ</a>
								</li>
								<li>
									<a href="/inside/">О КЛИНИКЕ</a>
								</li>
								<li>
									<a href="/chat/">ОНЛАЙН КОНСУЛЬТАЦИЯ</a>
								</li>
								<li>
									<a href="/services/">НАШИ УСЛУГИ</a>
								</li>
								<li>
									<a href="/prices/">ЦЕНЫ</a>
								</li>
								<li>
									<a href="/people/">ПЕРСОНАЛ</a>
								</li>
								<li>
									<a href="/works/">РАБОТЫ НАШИХ ВРАЧЕЙ</a>
								
								</li>
								<li>
									<a href="/accounts/login/">АВТОРИЗАЦИЯ / ВХОД</a>
								</li>
								<li>
									<a href="/contacts/">КОНТАКТЫ</a>
								</li>
								<li>
									<a href="/job/">ВАКАНСИИ</a>
								</li>
							</ul>
	</div>
	<div class="container_inside" style="min-height:100%;">
	<div class="btn-group-md-menu">
  <button type="md-menu-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Инфо <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/services/">Услуги</a></li>
    <li><a href="/people/">Персонал</a></li>
    <li><a href="/prices/">Цены</a></li>
	<li><a href="/works/">Наши работы</a></li>
	<li><a href="/job/">Вакансии</a></li>
    <li class="divider"></li>
    <li><a href="/">На главную</a></li>
  </ul>
</div>
<div class="btn-group-md-menu">
  <button type="md-menu-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Контакты <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/appointment/">Запись на приём</a></li>
    <li><a href="/chat/">Консультация</a></li>
    <li><a href="/contacts/">Как нас найти</a></li>
    <li class="divider"></li>
    <li><a href="/">На главную</a></li>
  </ul>
</div>
   <h1>Ваш запрос отправлен!</h1> 
 <br/><h5>В ближайшее время наш администратор свяжется с вами для подтверждения записи и уточнения времени приёма.  <br/><br/>
 Спасибо, что воспользовались услугами портала ДЕНТ СТУДИО!</h5>
 
 <!--<img src="http://ds.riberastudio.com/static/images/opengraph.jpg">-->
     </div>
	  



  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>				
				
			

		