{% extends "service_articles/base.html" %}
    {% block head_title %}Терапия{% endblock %}
	{% block content %} 
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3&appId=1638231183059375";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     <h1>Терапия</h1> <br>
	  <div class="services_for_md">
	 <div class="service_menu">
				{% if articles %}
					
					{% for article in articles %}
						
					<a class="service_menu_one" href="/service_articles/terapy/{{article.link}}/"> {{ article.title }}</a>  
					
					{% endfor %}
					
			
				{% else %}
					<strong>В категории "Гнатология" нет ни одной статьи. </strong>
				{% endif %}
	 </div>
 </div>	 
	 <div class="services_not_for_md">
	 <div class="service_menu">
				{% if articles %}
					
					{% for article in articles %}
						
					<a class="service_menu_one" style="cursor: pointer; " onclick="Show_Div('#{{article.link}}')"> {{ article.title }}</a>  
					
					{% endfor %}
					
			
				{% else %}
					<strong>В категории "Терапия" нет ни одной статьи. </strong>
				{% endif %}
	 </div>	
	 
	{% for article in articles %} 
	<div id="{{article.link}}" class="service_text" style="display: none;">
	<img class="service_image_small" src="/media/{{article.image}}" alt="{{article.title}}"><p class="news_text">{% autoescape off %}{{ article.text }}{% endautoescape %}</p>
	<div class="fb-like" data-href="/service_cosmetology/{{article.link}}" data-width="600" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
	
	{% endfor %}	

	<div id="mainx" class="service_text">
	<img class="service_image_small" src="/media/{{mainx.image}}" alt="{{mainx.title}}"><p class="news_text">{% autoescape off %}{{ mainx.text }}{% endautoescape %}</p>
	
	<br><br><div class="btn-group" role="group" aria-label="/home/">
  <button onclick="window.open('/services', '_self')" id="back" type="button" class="btn btn-default">  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Назад</button>
	</div>
	</div>	
<br><br><div class="btn-group" role="group" aria-label="/home/">
		<button onclick="window.open('/services', '_self')" id="back_service" type="button" class="btn btn-default">  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Назад</button>
		</div>			
<br/><br/><br/>

<footer1_pro>
<center>
Стоматологическая клиинка ДЕНТ СТУДИО: лицензия номер 77-01-001089 &nbsp;&nbsp; <div class="fb-follow" data-href="https://www.facebook.com/dentstudio.ru" data-colorscheme="light" data-layout="button" data-show-faces="true"> </div> 
<br>
<a class="afooter" href="/services/">Стоматология</a> | <a class="afooter"  href="/services#implantacia">Имплантология</a> | <a class="afooter"  href="/services#parodontologia">Пародонтология</a> | <a class="afooter"  href="/services#gnatologia">Гнатология</a> | <a class="afooter"  href="/services#ortopedia">Ортопедия</a> | <a class="afooter"  href="/services#ortodontia">Ортодонтия</a> | <a  class="afooter" href="/services#cosmetologia">Косметология</a>
<br>
Наш адрес: Москва, улица Марксистская, дом 20, строение 1 &nbsp;&nbsp;|&nbsp;&nbsp;Наши телефоны: (495) 3633841 (495) 9121111  </center>
</footer1_pro>
   
      </div>
	  
{% endblock %}